.section
	.row
		%h2.section-title.col-sm-4 Related Experience
	.row
		- data.resume.experience.each do |web_job|
			.entry
				%p.date.col-sm-4
					%i= time_span(web_job.start_date, web_job.end_date)
				.meta.col-sm-8
					%p
						%strong= institution_title(web_job.employer, web_job.link)
						%br
						%i= web_job.title
						%br
						= web_job.description.join(' ')

.section
	.row
		%h2.section-title.col-sm-4 Employment
	.row
		- data.resume.employment.each do |job|
			.entry
				%p.date.col-sm-4
					%i= time_span(job.start_date, job.end_date)
				.meta.col-sm-8
					%p
						%strong= institution_title(job.employer, job.link)
						%br
						%i= job.title
						%br
						= job.description.join(' ')

.section
	.row
		%h2.section-title.col-sm-4 Education
	.row
		- data.resume.education.each do |school|
			.entry
				%p.date.col-sm-4
					%i= time_span(school.start_date, school.end_date)
				.meta.col-sm-8
					%p
						%strong= school.school
						%br
						%i= school.major
						%br
						- school.misc.each do |other|
							= other
							%br

.section
	.row
		%h2.section-title.col-sm-4 Skills
	.row
		.entry
			.meta.col-sm-8.col-sm-offset-4
				%p
					- data.resume.skills.each do |skill|
						= skill
						%br