---
title: #{project.name}
---

<% content_for(:title, project.name) %>
<% content_for(:description, project.description) %>

<div class="project-information col-sm-4">
	<h1><%= project.name %></h1>
	<p><%= project.description %></p>
	<% if project.externalUrl %>
		<a href="<%= project.externalUrl %>" title="<%= project.name %>" target="_blank"><%= pretty_url(project.externalUrl) %></a>
	<% end %>
</div>

<div class="project-images meta col-sm-8">
<% project.images.each do |image| %>
	<img src="/assets/images/<%= image %>" alt=""/>
<% end %>
</div>