---
title: Resume
description: Resume of Nathan Cook
---

.section
	%h2.section-title Related Experience
- data.resume.experience.each do |web_job|
	.entry
		%p.date
			%i= time_span(web_job.start_date, web_job.end_date)
		.meta
			%p
				%strong= institution_title(web_job.employer, web_job.link)
			%p
				%i= web_job.title
				%br
				= web_job.description

.section
	%h2.section-title Employment
- data.resume.employment.each do |job|
	.entry
		%p.date
			%i= time_span(job.start_date, job.end_date)
		.meta
			%p
				%strong= institution_title(job.employer, job.link)
			%p
				%i= job.title
				%br
				= job.description

.section
	%h2.section-title Education
- data.resume.education.each do |school|
	.entry
		%p.date
			%i= time_span(school.start_date, school.end_date)
		.meta
			%p
				%strong= school.school
			%p
				%i= school.major
				%br
				- school.misc.each do |other|
					= other
					%br

.section
	%h2.section-title Skills
.entry
	.meta
		%p
			- data.resume.skills.each do |skill|
				= skill
				%br
